<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,97}</string>
                <key>textureRect</key>
                <string>{{516,1},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,74}</string>
                <key>textureRect</key>
                <string>{{1536,1},{113,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{1016,1},{116,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,101}</string>
                <key>spriteSourceSize</key>
                <string>{96,101}</string>
                <key>textureRect</key>
                <string>{{738,1},{96,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{94,100}</string>
                <key>textureRect</key>
                <string>{{114,1},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{210,1},{100,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{633,1},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{1261,1},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{930,1},{96,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{1454,1},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,87}</string>
                <key>spriteSourceSize</key>
                <string>{96,87}</string>
                <key>textureRect</key>
                <string>{{841,1},{96,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{101,88}</string>
                <key>textureRect</key>
                <string>{{1351,1},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{426,1},{98,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{121,98}</string>
                <key>textureRect</key>
                <string>{{303,1},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,93}</string>
                <key>spriteSourceSize</key>
                <string>{125,93}</string>
                <key>textureRect</key>
                <string>{{1134,1},{125,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_about.png</string>
            <key>size</key>
            <string>{1650,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa87019144a04d49c3d699a74fd82d2d:c5413c24d9f91f82c5275dcb7d0bc7dd:a4f68a7e042d26eb66d69d887614a71c$</string>
            <key>textureFileName</key>
            <string>monster_about.png</string>
        </dict>
    </dict>
</plist>
